*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
    overflow: hidden;
}

nav{
    background-color: rgb(5, 156, 156);
}


.logo img{
    height: 100px;
    margin-left: 70px;
}

.home__container nav{
    display: flex;
    justify-content: space-between;
}

.nav_items ul{
    display: flex;
    list-style: none;
    gap: 40px;
    margin: 40px 120px;
    font-size: 23px;
    font-weight: bolder;

}

.nav_items ul li{
    cursor: pointer;
}

.nav_items ul li:hover{
    color: blue;
    transition: 0.3s;
}

.nav_items ul li a:hover{
    color: blue;
    transition: 0.3s;
}

.nav_items ul li a{
    text-decoration: none;
    color: black;
}

section .home__content{
    display: flex;
}

.box1{
    
    height: 400px;
    width: 800px;
    margin: 153px 100px;
}

.box2 img{
    
    height: 400px;
    width: 600px;
    margin: 120px 108px;
}